body {
  font-family: "Lato", sans-serif;
  color:aqua ;
}

/* sidebar */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s ease;
  padding-top: 30px;
  padding-left: 4px; 
  margin-top:5%;
}

/* main{
  margin-top: 50px;
} */

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: aqua;
  display: block;
  transition: 0.5s ease;
  justify-content: center;
}

.sidebar input,label {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: 0.5s ease;
  justify-content: center;
}
.sidebar .closebtn {
  display: none;

}


.sidebar a:hover {
  color: #f1f1f1;
}
hr{
  width: 70%;
}

/* end sidebar */


/*    */


.detailsbar{
  margin: 2px 0px;
  width: 100%;
  display: flex; 
  justify-content: space-between;

}


.openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: aqua;
  padding: 10px 15px;
  border: none;
}


.detailsbar .detailsbar-2,.detailsbar-3{
  padding: 15px 15px; ;
}

/* end header */

#main {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.contant{
  background-color: aquamarine;
  width: 100%;
  height: 500px;
}


@media screen and (max-width: 805px) {
  .sidebar a {font-size: 18px;}
  .sidebar .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .detailsbar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 30px;
  }
  .openbtn{
    font-size: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: aqua;
    padding: 5px 5px;
    border: none;
  }
  .detailsbar .detailsbar-2,.detailsbar-3{
    padding: 5px 5px; ;
    font-size: 15px;
  }
  .sidebar{
    margin-top:3%;
  }
}