*{
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: whitesmoke;
}


.wrapper .sidebar{
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left:0;
    width: 30%;
    height: 100%;
    padding: 20px 50px;
    transition: all 0.5 ease;
}