body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in each column */
    gap: 20px; /* Spacing between cards */
}

.favorite-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}
/*  nav */
.navs {
  width: 100%;
  background: linear-gradient(to left, #07976e 0%, #00c9ff 100%);
}
html{
  height: 100vh;
}

#navbar-user ul {
  /* background: linear-gradient(to left, #07976e 0%, #00c9ff 100%); */
  background-color: transparent;
}

.navs a img {
  width: 100%;
  margin-top: 1rem;
}

/* end nav */

  