body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #3781C6;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

#navbar #center-logo {
    text-align: left;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#center-logo a img {
    height: 40px;
}

#navbar a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
}

#navbar a:hover {
    background-color: #3781C6;
}

#navbar .dropdown {
    position: relative;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #3781C6;
    min-width: 160px;
    text-align: center;
}

#navbar .dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#right-images {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#right-images a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

footer {
    background-color: #3781C6;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 2%;
    text-align: center;
}

input {
border: 3px solid #3781C6; 
border-radius: 5px; 
}

footer a {
    color: #ffffff;
    text-decoration: none; /* إزالة التأطير الافتراضي للروابط */
}

/* تغيير لون الروابط عند تمرير الماوس فوقها إلى اللون الأبيض */
footer a:hover {
    color: #ffffff;
    text-decoration: underline; /* إضافة تأطير تحت الرابط عند تمرير الماوس */
}